<div class="main-div">
  <button mat-fab class="menu-button"><mat-icon>menu</mat-icon></button>
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>G. Vineeth Prakash</mat-card-title>
      <mat-card-subtitle>Associate Engineer</mat-card-subtitle>
      <span class="fill-space"></span>
      <button mat-icon-button aria-label="Theme" (click)="toggleDarkTheme()"><mat-icon>{{ (isDarkTheme | async) ? 'wb_sunny' : 'brightness_3'}}</mat-icon></button>
      <button mat-icon-button aria-label="Home Button" [routerLink]="['/']"><mat-icon>home</mat-icon></button>
    </mat-card-header>
    <mat-divider></mat-divider>
      <mat-card-content class="display-content">
        <nav mat-tab-nav-bar dynamicHeight>
          <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
        <div class="nav-content">
          <router-outlet #outlet></router-outlet>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
