<mat-accordion class="accordion-headers-align" multi>
  <mat-expansion-panel [expanded]="expanded" *ngFor="let work of workExperiences">
    <mat-expansion-panel-header>
      <mat-panel-title><strong>{{work.company}}</strong></mat-panel-title>
      <mat-panel-description>{{work.timeline}}<mat-icon>{{work.icon}}</mat-icon></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <div mat-subheader>{{work.position}}</div>
     <mat-list-item>
       <div mat-line *ngFor="let description of work.description"><mat-icon>done_outline</mat-icon>{{description}}</div>
     </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
